asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
django-humanize
dj-database-url
EasyProcess
entrypoint2
filelock
humanize
MouseInfo
mss
mysql-connector-python
Pillow
pipenv
platformdirs
protobuf
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
tzdata
virtualenv
